<html>
    <script src="https://unpkg.com/vue@2.5.21/dist/vue.js" type="text/javascript"></script>
    <body>
        <div id="root">
            <h3 v-text="welcome"></h3> <!-- interpolation; semantic binding-->
            <h2>{{name}}!!</h2> <!-- interpolation; declarative binding -->
            <div v-once>{{once}}</div> <!-- v-once directive tells virtual dome to skip updating, & helps to optimize Vue performance -->
            <div v-html="myHtml"></div>  <!-- v-html directive outputs binding as HTML - can be a security risk if dynamically generated -->
            <h3 v-bind:class="doubleBlue">Double Blue!</h3> <!-- v-bind is required for binding a  -->

            <!-- One way to conditionally apply a css class -->
            <h3 v-bind:class="{'pinkBox' : boolean }">Pink Box</h3>


            <h3 v-bind:style="cokeStyle">Coke is good.</h3> <!-- v-bind is required for binding a  -->
            <img v-bind:style="cokeImage" :src="imagePointer" />  <!-- v-bind directive outputs binding as HTML - can be a security risk if dynamically generated -->
            <br />

            <h2>BINDING WITH FORMS</h2>
            <!-- COLLECTING DATA VIA THE V-MODEL DIRECTIVE -->
            <input v-model="userInput" placeholder="I replicate your input" />
            <span>You input the following: {{userInput}}</span>
            <br/>
            <textarea v-model="textArea"></textarea>
            <span>The text area contains the following: {{textArea}}</span>
            <br />
            <div id=pain-box class="width-box">
                <div class="pain-area">
                    <label for="pain-arms">Arms</label>
                    <input 
                        id="pain-arms"
                        type="checkbox" 
                        value="Arms"
                        v-model="pain"
                    />
                </div>
                <div class="pain-area">
                    <label for="pain-legs">Legs</label>
                    <input 
                        type="checkbox" 
                        value="Legs"
                        v-model="pain"
                    />

                </div>
                <div class="pain-area">
                    <label for="pain-torso">Torso</label>
                    <input 
                        type="checkbox" 
                        value="Torso"
                        v-model="pain"
                    />
                </div>
                <div class="pain-area">
                    <label for="pain-torso">Neck or Head</label>
                    <input 
                        type="checkbox" 
                        value="Head or neck"
                        v-model="pain"
                    />
                </div>
            </div>
            <br />
            <span>
                You feel pain in the following areas: {{pain}}
            </span>
            <br /><br />
            <div class="width-box">
                <div class="radio-option">
                    <label>Male</label>
                    <input 
                    type="radio"
                    value="Male"
                    v-model="gender"
                    />
                </div>
                <div class="radio-option">
                    <label>Female</label>
                    <input 
                    type="radio"
                    value="Female"
                    v-model="gender"
                    />
                </div>
                <div class="radio-option">
                    <label>Transgender</label>
                    <input 
                    type="radio"
                    value="Transgender"
                    v-model="gender"
                    />
                </div>
                <div class="radio-option">
                    <label>Other</label>
                    <input 
                    type="radio"
                    value="Other"
                    v-model="gender"
                    />
                </div>
            </div>
            <p>Selected {{gender}}</p>
            <br />
            <!-- A select can have it's binding declaired within it, which binds its child options to the data -->
            <select 
                v-model="dropdown"
            >
                <option value="Never">Never</option>
                <option value="Sometimes">Sometimes</option>
                <option value="Often">Often</option>
            </select>
            <p>Dropdown value(s): {{dropdown}}</p>

            <p class="subtitle">TRIM Modifier</p>
            <!-- Built-in Data Modifiers, which are used to describe the behaviour of a binding, & which can be chained together -->
            <input v-model.trim="trimmedInput" placeholder="I trim your input" /> <!-- .trim removes leading and trailing whitespace -->
            <p>This is your input, trimmed: {{trimmedInput}}</p>

            <p class="subtitle">NUMBER Modifier</p>
            <input v-model.number="numericInput" placeholder="2+3=" /> <!-- .number attempts to use Javascript's parseFloat function on the input; it trims, and will work if at least the first character is a number -->
            <p>This is your input, "numerified": {{numericInput}}</p>

            <p class="subtitle">Lazy Loading Binding Values</p>
            <!-- 
                onInput event: fires after each time input is modified (e.g., each time a new character is added)
                onChange event: fires when the element loses focus
            -->
            <input v-model.lazy="lazyBinding" placeholder="" /> <!-- .number attempts to use Javascript's parseFloat function; it trims and will work if at least the first character is a number -->
            <p>I will lazily bind your input here: {{lazyBinding}}</p>

            <h2>RESPONDING TO USER EVENTS</h2>
            <!-- Shorthand synatix for "v-on" is "@" -->
            <button v-on:click="fillIn">Fill above inputs (using the "v-on" directive)</button>
            <button @click="fillIn">Fill above inputs (using "@" directive)</button>
            <br /><br />
            <!-- EVENT MODIFIERS -->
            <!-- event bubbling vs event capturing; be sure to check console logs as you click the following buttons-->
            <!-- For event capturing (top to bottom event listening), the "capture" modifier must be added to the Vue directive -->
            <div v-on:click.capture="captureClick('parent')">
                <button @click="captureClick('child')">Event Capturing</button>
            </div>
            
            <div @click="bubbleClick('parent')">
                <button @click="bubbleClick('child')">Event Bubbling</button>
            </div>

        </div>
    </body>
    <script src="src/app.js" type="text/javascript"></script>
</html>

<style>
.doubleBlue{
    color: blue;
    border: 1px solid blue;
}
.pinkBox{
    width: 200px;
    height: 200px;
    background: pink;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.width-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.pain-areas input{
    color: red;
}
.subtitle{
    font-weight: 900;
    font-size: 16px;
}
</style>